/* *{ padding: 0%;
    margin: 0%;
    box-sizing: border-box;
} */
.profile{
    width: 10%;
    height: 10%; 
    float: right; 
    border-radius:50%;
    object-fit: cover;
}
nav{
    display: flex;
    justify-content: center;
   padding:1rem;
  align-items: center;
  /* float: right; */
   
  
}
ul{
    display: flex;
    padding: 0.5rem;

}
li{
    padding: 0.5rem;
    margin: 0.5rem ;
list-style: none;
}
span{
    color: yellow;
}
Home{
color: orange;
}
hr{
    color: gray;
}
#img{
    display: flex;
    height: 90vh;
    width: 100%;
}
#programs{
    color: orange;
text-align: center;
}
#heros{
    display :flex ;
    justify-content: center;
    margin: 3rem;
}
#values{
   
    color: black;
    text-align: center;
    
    
}
#details{
    display :flex ;
    justify-content: center;
    margin: 3rem;  
    margin-top: 2rem;
    margin-bottom: 3rem;
    

}
#Team{
    color: orange;
    text-align: center;
   
}
#team{
    display: flex;
    margin: 0.3rem;
    align-content: center;

 
}
#button{

text-align: center;
}
#view{

text-align: center;
}
#partners{
    color: black;
    text-align: center;
    
}

#handles{
    display: flex;
    padding:0.2rem ;
    margin: 2rem;
justify-content:right;
}
.program{
    background-color: #f4ebff;
    border-radius: 10%;
}
#value{
    display: flex;
    justify-content: center;
}
.creativity{
    background-color: #fdfbf3;
}
.partner{
    background-color: #fdfbf3;
}
.hope{
   background-color: #fdfbf3; 
}