/* #profile{
    display: flex;
    padding:2rem ;
    margin: 2rem;
justify-content: right; */
/* } */




#home{
    display: flex;
    padding:2rem ;
    margin: 2rem;
justify-content: center;
}
#color{
color: orange;
}
hr{
    color: gray;
}
#img{
    display: flex;
    height: 90vh;
    width: 100%;
}
#programs{
    color: orange;
text-align: center;
}
#heroin{
    display :flex ;
    justify-content: center;
    margin: 3rem;
}
#values{
    color: black;
    text-align: center;
    
}
#details{
    display :flex ;
    justify-content: center;
    margin: 3rem;  
    margin-top: 2rem;
    margin-bottom: 3rem;

}
#Team{
    color: orange;
    text-align: center;

}
#team{
    display: flex;

 
}
#button{
display: flex;
text-align: center;
}
#view{
display: flex;
align-content: center;
}
#partners{
    color: black;
    text-align: center;
    
}
